html {
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Kumbh Sans', 'Arial', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

:root {
    --dark-blue: hsl(238, 29%, 16%);
    --red: hsl(14, 88%, 65%);
    --violet: hsl(273, 75%, 66%);
    --light-blue: hsl(240, 73%, 65%);
    --dark-grey: hsl(237, 12%, 33%);
    --light-grey: hsl(240, 6%, 50%);
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(var(--violet), var(--light-blue));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    body {
        height: auto;
    }
}

.faq-box {
    width: 65%;
    background: #fff url('images/bg-pattern-desktop.svg') no-repeat -70%;
    background-size: 65%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
    border-radius: 2rem;
    margin-bottom: 5rem;
    box-shadow: 0 1rem 3rem var(--dark-grey);
    position: relative;
}

@media only screen and (max-width: 1285px) {
    .faq-box {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .faq-box {
        background-image: url('images/bg-pattern-mobile.svg');
        background-position: 3rem 0;
        background-size: 80%;
        grid-template-columns: 1fr;
        width: 70%;
        margin-top: 20rem;
        margin-bottom: 2rem;
        padding-top: 0;
    }
}

@media only screen and (max-width: 425px) {
    .faq-box {
        width: 85%;
        margin-top: 15rem;
    }
}

.img-container {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .img-container {
        overflow: visible;
        text-align: center;
        height: 12rem;
        display: block;
    }
}

.illustration-woman {
    position: relative;
    transform: translate(-12%, 0);
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .illustration-woman {
        transform: translate(0, -60%);
        width: 80%;
    }
}

@media only screen and (max-width: 425px) {
    .illustration-woman {
        transform: translateY(-60%);
    }
}

.illustration-box {
    position: absolute;
    z-index: 10;
    transform: translate(-47%, 94%);
    transition: .3s all ease-in-out;
}

@keyframes moveBox {
    0% {
        transform: translate(-47%, 94%);
    }

    100% {
        transform: translate(-77%, 94%);
    }
}

@media only screen and (max-width: 768px) {
    .illustration-box {
        display: none;
    }
}

.text-container {
    margin: 4rem 0;
}

@media only screen and (max-width: 768px) {
    .text-container {
        padding: 2rem;
    }
}

.header {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    color: var(--dark-blue);
}

@media only screen and (max-width: 768px) {
    .header {
        text-align: center;
    }
}

.question-container {
    display: inline-block;
    width: 85%;
    position: relative;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--light-grey);
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .question-container {
        width: 100%;
    }
}

.question-btn {
    display: inline-block;
    width: 100%;
    background: #fff;
    border: none;
    font-family: 'Kumbh Sans', 'Arial', sans-serif;
    color: var(--dark-blue);
    text-align: left;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

@media only screen and (max-width: 768px) {
    .question-btn {
        font-size: 1.2rem;
    }
}

.question-btn:hover {
    color: var(--red);
}

.question-btn:hover ~ .illustration-box {
    transform: translate(-27%, 94%);
}

.question-btn::after {
    content: url("images/icon-arrow-down.svg");
    position: absolute;
    right: 1rem;
    transition: .3s all ease-in-out;
}

.question-btn.active::after {
    transform: rotate(180deg);
}

.answer {
    height: 0;
    opacity: 0;
    margin-top: 0;
    color: var(--light-grey);
    transition: .2s all ease-in-out;
}

@media only screen and (max-width: 768px) {
    .answer {
        font-size: 1.1rem;
        line-height: 1.5;
    }
}

.open {
    height: auto;
    opacity: 100%;
    margin-top: 1.5rem;
}

.active {
    font-weight: 700;
    color: var(--dark-blue);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .attribution {
        width: 80%;
        font-size: 1.2rem;
        margin: 3rem auto;
    }
}

.attribution a {
    color: hsl(228, 45%, 44%);
}